body {
    background-color: #ff0000;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    background-clip: text;
    display: inline-block;
    background: linear-gradient(to right,
    #ff0000,
    #ffa500,
    #ffff00,
    #008000,
    #4b0082,
    #ee82ee);
    -webkit-background-clip: text;
    color: transparent;
}

.main {
    background-color: #00ff00;
    width: 1500px;
    height: 2750px;
    margin: auto;
    font-size: 1.5em;
}

.title {
    text-align: center;
}

.intro {
    display: flex;
    height: 500px;
    width: auto;
}

.dialogue {
    display: flex;
    width: 800px;
    height: auto;
}

.reviews {
    display: flex;
    flex-direction: column;
    background-color: #00d639;
    margin: auto;
    border: 2px solid;
    width: 90%;
    height: auto;
}

.review {
    position: relative;
    background-color: #00b330;
    width: 98%;
    height: 150px;
    border: 2px solid;
    margin: auto;
    margin-bottom: 5px;
}

.pfp {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}

.review h4 {
    color: white;
    text-align: center;
    margin-top: 5px;
    line-height: 25px;
}

.review p {
    color: white;
    margin-left: 125px;
    margin-top: -35px;
}